body{
	font-family: "맑은 고딕","고딕","굴림";
	
}
header{
	width:80%;
	height:auto;
	background-color:HotPink;
	margin-right:auto;
	margin-left:auto;
	padding:10px;
	overflow:hidden;
	}
header ul{
	list-style-type:none;
	
}
header ul li{
	
	float: right;
	margin-right:15px;

	
}
header ul li a{
	color:white;
	text-decoration: none;
	font-size:1.2em;
}
header ul li a:hover{
	color: red;
	
}

nav{
	width:80%;
	height:auto;
	margin: auto;
	padding: 5px;
	
	
}


nav ul{
	list-style-type:none;
	
	
}
nav li{
	float: left;
	margin-right:15px;
	margin-bottom: 8px;
	
}

nav ul li a{
	font-size:1.4em;
	color:black;
	text-decoration:none;
	
	
}
nav ul li a:hover{
	color:red;
	
}

section{
	width:80%;
	height:auto;
	margin-right:auto;
	margin-left:auto;
	border:1px solid lightpink;
	padding:5px;
	overflow:hidden;

}
section ul{
	list-style-type: none;
	
}
section ul li{
	float:left;
	list-style-type: none;
}
section ul li a{
	text-decoration: none;
	color:gray;
	margin-right: 35px;
}


section ul li a:hover{
	color:green;
	}


section article{
	width: 25%;
	height:150px;
	border: 2px solid pink;
	padding:15px;
	overflow: hidden;
	float:left;
	margin: 3px;
		
}

section aside{
	width: 300px;
	height:auto;
	float:left;
	text-align: center;
	
}

#desc{
		
		height:170px;
		background: #CEF279;
	}
section table{
	
	width:80%;
	margin: auto;
}	

seciton table tr,td{
	
	padding:5px;
}
.add_image{
	width: 100%;
	height: 100%;
}


.div_empty{
		background-color:red;
		width: 100%;
		height: 100%;
		text-align: center;
		color:white;
	}

#productImage{
   width:150px;
   height:150px;
   border:none;
}
#none_deco{
	text-align: right;
	list-style-type: none;
}



.light_com{
	color: red;	
}
.white_h4{
	color:white;
}	


#upImage{
	width: 15px;
	border:0px;
}
#downImage{
	width: 15px;
	border: 0px;
}


#content_main{
		height:300px;
	}
#content_left{
		width: 300px;
		float:left;
	}
#content_right{
		width: 340px;
		float:left;
	}
#commandList{
		text-align: center;
	}
#commandCell{
      text-align: center;
      
   }


#todayImageList{
		text-align: center;
	}
#productImage{
		width: 150px;
		height: 150px;
		border: none;
	}
#todayImage{
		width: 50px;
		height: 50px;
		border: none;
	}



.td_left{
      width: 250px;
      background:skyblue;
   }
.td_right{
      width: 500px;
      background:lightpink;
   }
.tr_top {
   background-color: lime;
}

#cartImage{
   width:70px;
   height:70px;
   border:none;
}
#select{
	text-align: right;
}
#commandList{
	text-align: center;
}

/* 퍼온거 */

.dropbtn {
  background-color: lightpink;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
