/* PC화면 시작 */
@media screen and (min-width:1720px) {
	header {
		width: 80%;
		height: auto;
		background-color: HotPink;
		margin-right: auto;
		margin-left: auto;
		padding: 10px;
		overflow: hidden;
	}
	nav {
		width: 80%;
		height: auto;
		margin: auto;
		padding: 5px;
	}
	section {
		width: 80%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
		border: 1px solid lightpink;
		padding: 5px;
		overflow: hidden;
	}
	section article {
		width: 500px;
		height: 420px;
		padding: 15px;
		overflow: hidden;
		float: left;
		margin: 3px;
	}
	section article aside {
		width: 200px;
		height: 120px;
		text-align: center;
	}
	section aside {
		width: 300px;
		height: 200px;
		margin: 12px;
		margin-left: 80px;
		float: left;
		text-align: center;
		font-style: italic;
	}
	section aside img {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
	}
	section table {
		width: 80%;
		margin: auto;
	}
	seciton table tr, td {
		padding: 5px;
	}
	footer {
		width: 80%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	 #prevBtn{
/*         position:absolute; */
		position:relative;
		padding-right:130px;
        left:0;
        bottom: 160px;
    }
    #nextBtn{
/*         position:absolute; */
		position:relative;
        right:0px;
       	padding-left:160px;
        bottom: 160px;
    }
}
/* PC화면 종료 */
/* 노트북 및 태블릿 */
@media screen and (min-width:768px) and (max-width:1719px) {
	header {
		width: 90%;
		height: auto;
		background-color: HotPink;
		margin-right: auto;
		margin-left: auto;
		padding: 10px;
		overflow: hidden;
	}
	nav {
		width: 90%;
		height: auto;
		margin: auto;
		padding: 5px;
	}
	section {
		width: 90%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
		border: 1px solid lightpink;
		padding: 5px;
		overflow: hidden;
		
	}
	section article {
		
		width: 50%;
		height:auto;
		padding: 15px;
		overflow: hidden;
		float: left;
		margin-left: 60px;
		
	}
	section article aside {
		width: 200px;
		height: 120px;
		text-align: center;
	}
	section aside {
		width: 35%;
		height: auto;
		margin: 12px;
		margin-left: 80px;
		float: left;
		text-align: center;
		font-style: italic;
	}

	
	section aside img {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
	}
	section table {
		width: 90%;
		margin: auto;
	}
	seciton table tr, td {
		padding: 5px;
	}
	footer {
		width: 90%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	 #prevBtn{
        
		position:relative;
		padding-right:260px;
        left:-20px;
        bottom: 170px;
    }
    #nextBtn{
        
		position:relative;
        right:0px;
       	padding-left:260px;
        bottom: 260px;
    }
	

}
/* 태블릿 종료 */
/* 모바일 전용 */
@media screen and (max-width:767px){
	header {
		width: 80%;
		height: auto;
		background-color: HotPink;
		margin-right: auto;
		margin-left: auto;
		padding: 10px;
		overflow: hidden;
	}
	nav {
		width: 80%;
		height: auto;
		margin: auto;
		padding: 5px;
	}
	section {
		width: 80%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
		border: 1px solid lightpink;
		padding: 5px;
		overflow: hidden;
	}
	section article {
		width: 500px;
		height: 420px;
		padding: 15px;
		overflow: hidden;
		float: left;
		margin: 3px;
	}
	section article aside {
		width: 200px;
		height: 120px;
		text-align: center;
	}
	section aside {
		width: 300px;
		height: 200px;
		margin: 12px;
		margin-left: 80px;
		float: left;
		text-align: center;
		font-style: italic;
	}
	section aside img {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
	}
	section table {
		width: 80%;
		margin: auto;
	}
	seciton table tr, td {
		padding: 5px;
	}
	footer {
		width: 80%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	 #prevBtn{
/*         position:absolute; */
		position:relative;
		padding-right:130px;
        left:0;
        bottom: 160px;
    }
    #nextBtn{
/*         position:absolute; */
		position:relative;
        right:0px;
       	padding-left:160px;
        bottom: 160px;
    }
}
/* 모바일 종료 */
/* 공통 기능 */
header ul {
	list-style-type: none;
}

header ul li {
	float: left;
	margin-right: 15px;
}

header ul li a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}

header ul li a:hover {
	color: red;
}

body {
	font-family: "italic", "맑은 고딕", "고딕", "굴림";
}

b {
	font-style: italic;
	padding: 2px;
}

nav ul {
	list-style-type: none;
}

nav li {
	float: left;
	margin-right: 15px;
	margin-bottom: 8px;
}

nav ul li a {
	font-size: 1.4em;
	color: black;
	text-decoration: none;
}

nav ul li a:hover {
	color: red;
}

section ul {
	list-style-type: none;
}

section ul li {
	float: left;
	list-style-type: none;
	margin-bottom: 10px;
}

section ul li a {
	text-decoration: none;
	color: gray;
	margin-right: 35px;
}

section ul li a:hover {
	color: green;
}

/* 공통 기능 끝 */

/* 클래스,아이디 */

    
.logo {
	color: yellow;
}

.bold {
	font-weight: bold;
}

.rightLi {
	float: right;
}

.gray {
	color: gray;
	font-size: 0.7em;
}

.no_deco {
	text-decoration: none;
}

.black_text {
	color: black;
}

.border_1px {
	border: 1px;
}

#desc {
	width: 500px;
	height: 170px;
	background: #CEF279;
}

.add_image {
	width: 100%;
	height: 100%;
}

.ad_h2 {
	font-weight: bolder;
}

.ad_h3 {
	font-size: 1.6em;
	font-style: oblique;
	font-weight: bold;
}

.ad_h4 {
	position: relative;
	font-style: inherit;
	font-size: 0.8em;
}

.ad_h5 {
	font-size: 1.2em;
	font-weight: 400;
}

.img100 {
	width: 100px;
	height: 100px;
}

.img200 {
	width: 200px;
	height: 200px;
}

.img200_150 {
	width: 200px;
	height: 150px;
}

.board_margin {
	margin-left: 60px;
	margin-top: 30px;
}

.margin_left_10 {
	margin-left: 10px;
}

.img20 {
	position: relative;
	width: 18px;
	height: 18px;
}

.float_left {
	float: left;
}

.table_td_border {
	border-collapse: collapse;
}

.div_empty {
	background-color: red;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
}

#productImage {
	width: 150px;
	height: 150px;
	border: none;
}

#none_deco {
	text-align: right;
	list-style-type: none;
}

.light_com {
	color: red;
}

.white_h4 {
	color: white;
}

.center_text {
	text-align: center;
}

.right_text {
	text-align: right;
}

#upImage {
	width: 15px;
	border: 0px;
}

#downImage {
	width: 15px;
	border: 0px;
}

#content_main {
	height: 300px;
}

#content_left {
	width: 300px;
	float: left;
}

#content_right {
	width: 340px;
	float: left;
}

#commandList {
	text-align: center;
}

#commandCell {
	text-align: center;
}

#productImage {
	width: 150px;
	height: 150px;
	border: none;
}

#todayImage {
	width: 50px;
	height: 50px;
	border: none;
}

.td_left {
	width: 250px;
	background: skyblue;
}

.td_right {
	width: 500px;
	background: lightpink;
}

.tr_top {
	background-color: orange;
}

#cartImage {
	width: 70px;
	height: 70px;
	border: none;
}

#select {
	text-align: right;
}

#commandList {
	text-align: center;
}

/* 퍼온거 */
.dropbtn {
	background-color: lightpink;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.absolute {
	position: absolute;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}